{% extends 'base.html.twig' %}

{% block body %}
   {{ form_start(form) }}

   {{ form_row(form.premierChamp) }}
   {{ form_row(form.secondChamp) }}

   <button type="submit">Envoyer</button>
   {{ form_end(form) }}
{% endblock %}
