{% extends 'base.html.twig' %}

{% block title %}New MarqueChemise{% endblock %}

{% block body %}
    <h1>Create new MarqueChemise</h1>

    {{ include('marque_chemise/_form.html.twig') }}

    <a href="{{ path('app_marque_chemise_index') }}">back to list</a>
{% endblock %}
