{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur le Blog de Guigui</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur blanditiis consequuntur
    dignissimos dolorem facere hic laborum maxime molestias nam nemo quibusdam, ratione repellendus vel veritatis
    voluptate! Aspernatur assumenda distinctio est eum facilis impedit iusto nam officiis perferendis vero.</p>
<p>
    Exercitationem iste perspiciatis quibusdam! Accusantium asperiores assumenda, aut autem beatae blanditiis commodi
    doloremque doloribus est et facere hic ipsa iusto libero, minima nostrum nulla officia officiis, omnis provident
    quasi quia vitae! Cum dicta, similique. Accusamus aliquam dolores expedita minus necessitatibus.</p>

{% endblock %}
