{% extends 'base.html.twig' %}

{% block title %}Voiture findAll{% endblock %}

{% block body %}
    <h1>Voiture FindAll</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>

        </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.nom }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_index') }}">Lien vers l'index</a>
{% endblock %}
