{% extends 'base.html.twig' %}

{% block title %}Voiture Id{% endblock %}

{% block body %}
    <h1>Voiture Id : </h1>

    <section class="table">



            <p>{{ voiture.nom }}</p>
            <p>{{ voiture.id }}</p>



    </section>


{% endblock %}
