{% extends 'base.html.twig' %}

{% block title %}Voiture nom{% endblock %}

{% block body %}
    <h1>Voiture nom : </h1>

    <section class="table">



            <p>{{ voitures.nom }}</p>
            <p>{{ voitures.id }}</p>



    </section>


{% endblock %}
